{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Product List</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.css' %}">
{% endblock %}

{% block content %}

    <section class="main-container col2-left-layout bounceInUp animated">
      <div class="container">

        <div class="row">
          <div class="col-main col-sm-9 col-sm-push-3">
            <article class="col-main">
              <div class="page-title">
                <h1>Tops & Tees</h1>
              </div>

              <div class="toolbar">
                <div class="sorter">
                  <div class="view-mode"> <a href="grid.html" title="Grid" class="button button-grid">&nbsp;</a>&nbsp;
                    <span title="List" class="button button-active button-list">&nbsp;</span>&nbsp; </div>
                </div>
                <div id="sort-by">
                  <label class="left">Sort By: </label>
                  <ul>
                    <li><a href="#">Sorting<span class="right-arrow"></span></a>
                      <ul>
                        <li><a href="{% url 'product_list' %}?order=A-Z">Alphabetic</a></li>
                        <li><a href="{% url 'product_list' %}?order=Z-A">Z-A</a></li>
                        <li><a href="{% url 'product_list' %}?order=lowtohigh">Low to High Price</a></li>
                        <li><a href="{% url 'product_list' %}?order=hightolow">High to Low Price</a></li>
                        <li><a href="{% url 'product_list' %}?order=newest">Newest</a></li>
                      </ul>
                    </li>
                  </ul>
                  <a class="button-asc left" href="#" title="Set Descending Direction"><span
                      class="top_arrow"></span></a>
                </div>
                <div class="pager">
                  {% if is_paginated %}
                    <div class="pages">
                      <label>Page:</label>
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                        {% for page in paginator.page_range %}
                          {% if page_obj.number == page %}
                            <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                          {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                      </ul>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="category-products">
                <ol class="products-list" id="products-list">
                  {% if products %}
                    {% for product in products %}
                      <li class="item first">
                        <div class="product-image">
                          <a href="{% url 'product_detail' product.product_id.slug %}" title="{{ product.product_id.title }}">
                            <img class="small-image" src="{{ product.product_id.cover_image.url }}" alt="{{ product.product_id.title }}">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h2 class="product-name">
                            <a href="{% url 'product_detail' product.product_id.slug %}" title="{{ product.product_id.title }}">
                              {{ product.product_id.title }}
                            </a>
                          </h2>
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:{{ product.rate_avg }}%" class="rating"></div>
                            </div>
                            <p class="rating-links">
                              <a href="#">{{ product.review_count }} Review(s)</a>
                              <span class="separator">|</span>
                              <a href="{% url 'product_detail' product.product_id.slug %}">Add Your Review</a>
                            </p>
                          </div>
                          <div class="desc std">
                            <p>{{ product.product_id.short_descriptions }}
                              <a class="link-learn" title="" href="{% url 'product_detail' product.product_id.slug %}">Learn More</a>
                            </p>
                          </div>
                          <div class="price-box">
                            {% if product.product_id.in_sale %}
                              <p class="special-price">
                                <span class="price-label"></span>
                                <span class="price"> ${{ product.product_id.new_price|floatformat:2 }} </span>
                              </p>
                              <p class="old-price">
                                <span class="price-label"></span>
                                <span class="price"> ${{ product.product_id.price|floatformat:2 }} </span>
                              </p>
                            {% else %}
                              <p class="special-price">
                                <span class="price-label"></span>
                                <span class="price"> ${{ product.product_id.price|floatformat:2 }} </span>
                              </p>
                            {% endif %}
                          </div>
                          <div class="actions">
                            <button class="button btn-cart ajx-cart" title="Add to Cart" type="button">
                              <span>Add to Cart</span>
                            </button>
                            <span class="add-to-links">
                              <a title="Add to Wishlist" class="button link-wishlist" href="#">
                                <span>Add to Wishlist</span>
                              </a>
                              <a title="Add to Compare" class="button link-compare" href="#">
                                <span>Add to Compare</span>
                              </a>
                            </span>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  {% else %}
                    <div class="text-center">
                      <img src="{% static 'images/superbphoto/empty-search.jpg' %}">
                      <h3><strong>Sorry! Couldn't find the product you were looking For!!!</strong></h3>
                      <h4>Please check if you have misspelt something or try searching with other words.</h4>
                    </div>
                  {% endif %}

                </ol>
              </div>
            </article>
            <!--	///*///======    End article  ========= //*/// -->
          </div>
          <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
            <aside class="col-left sidebar">

              <div class="side-nav-categories">
                <div class="block-title"> Categories </div>
                <!--block-title-->
                <!-- BEGIN BOX-CATEGORY -->
                <div class="box-content box-category">
                  <ul>
                    {% for category in categories %}
                      <li><a class="active category-field" href="{% url 'product_list' %}?category={{ category.category_name }}">{{ category.category_name }}</a><span class="subDropdown plus"></span>
                        <ul class="level0_455" style="display:none">
                          {% for s_category in sub_categories %}
                            {% if s_category.parent_category == category %}
                              <li><a class="category-field" href="{% url 'product_list' %}?category={{ category.category_name }}&s_category1={{ s_category.category_name }}">{{ s_category.category_name }}</a><span class="subDropdown minus"></span>
                                <ul class="level1" style="display:none">
                                  {% for subcategory in sub_categories %}
                                    {% if subcategory.parent_category == s_category %}
                                      <li><a class="category-field" href="{% url 'product_list' %}?category={{ category.category_name }}&s_category1={{ s_category.category_name }}&subcategory={{ subcategory.category_name }}">{{ subcategory.category_name }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                            {% endif %}
                          {% endfor %}
                        </ul>
                        <!--level0--> 
                      </li>
                    {% endfor %}
                    <!--level 0-->
                  </ul>
                </div>
                <!--box-content box-category-->
              </div>

              <div class="block block-layered-nav">
                <div class="block-title">Shop By</div>
                <div class="block-content">
                  <p class="block-subtitle">Shopping Options</p>
                  <dl id="narrow-by-list">
                    <dt class="odd">Price</dt>
                    <dd class="odd">
                      <ol>
                        <li> <a href="?maxPrice=100">Below - <span class="price">$100</span></a></li>
                        <li> <a href="?minPrice=100&maxPrice=200"><span class="price">$100</span> - <span class="price">$200</span></a></li>
                        <li> <a href="?minPrice=200&maxPrice=300"><span class="price">$200</span> - <span class="price">$300</span></a></li>
                        <li> <a href="?minPrice=300&maxPrice=400"><span class="price">$300</span> - <span class="price">$400</span></a></li>
                        <li> <a href="?minPrice=400&maxPrice=500"><span class="price">$400</span> - <span class="price">$500</span></a></li>
                        <li> <a href="?minPrice=500"><span class="price">$500</span> and above</a></li>
                      </ol>
                    </dd>
                    <dt class="odd">Color</dt>
                    <dd class="odd">
                      <ol>
                        {% for color in colors %}
                          {% comment %} <li data='{{ color.color_id__name }}' style="cursor: pointer;">{{ color.color_id__name }} ({{ color.count }}) </li> {% endcomment %}
                          <li><a href="{% url 'product_list' %}?color={{ color.color_id__name }}">{{ color.color_id__name }}</a> ({{ color.count }}) </li>
                        {% endfor %}
                      </ol>
                    </dd>
                    <dt class="last even">Size</dt>
                    <dd class="last even">
                      <ol>
                        {% for size in sizes %}
                          <li><a href="{% url 'product_list' %}?size={{ size.size_id__name }}">{{ size.size_id__name }}</a> ({{ size.count }}) </li>
                        {% endfor %}
                      </ol>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="block block-cart">
                <div class="block-title ">My Cart</div>
                <div class="block-content">
                  <div class="summary">
                    <p class="amount">There are <a href="#">2 items</a> in your cart.</p>
                      <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">$49.99</span> </p>
                  </div>
                  <div class="ajax-checkout">
                    <button class="button button-checkout" title="Submit" type="submit"><span>Checkout</span></button>
                  </div>
                  <p class="block-subtitle">Recently added item(s) </p>
                  <ul>
                      <li class="item"> <a href="#" title="Retis lapen casen" class="product-image"><img src="{% static 'products-images/product.jpg' %}" alt="Fisher-Price Bubble Mower"></a>
                      <div class="product-details">
                          <div class="access"> <a href="#" title="Remove This Item" class="btn-remove1"> <span class="icon"></span> Remove </a> </div>
                        <strong>1</strong> x <span class="price">$19.99</span>
                        <p class="product-name"> <a href="#">Office Colored Ladies Shirt</a> </p>
                      </div>
                    </li>
                      <li class="item last"> <a href="#" title="Retis lapen casen" class="product-image"><img src="{% static 'products-images/product.jpg' %}" alt="Prince Lionheart Jumbo Toy Hammock"></a>
                      <div class="product-details">
                          <div class="access"> <a href="#" title="Remove This Item" class="btn-remove1"> <span class="icon"></span> Remove </a> </div>
                        <strong>1</strong> x <span class="price">$8.00</span>
                        <p class="product-name"> <a href="#">Office Colored Ladies Shirt</a> </p>

                        <!--access clearfix-->
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- Main Container End -->

    <div class="brand-logo wow bounceInUp animated">
      <div class="container">

        <div class="slider-items-products">
          <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">

              {% for logo in logos %}
                <div class="item"><img src="{{ logo.logo.url }}" alt="Image"></div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
{% endblock %}