{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Container -->
    <section class="main-container col1-layout bounceInUp animated">
      <div class="main container">
        <div class="account-login">
          <div class="page-title">
            <h1>Login or Create an Account</h1>
          </div>
          <fieldset class="col2-set">
            <legend>Login or Create an Account</legend>
            <div class="col-1 new-users"><strong>New Customers</strong>
              <div class="content">
                <p>By creating an account with our store, you will be able to move through the checkout process faster,
                  store multiple shipping addresses, view and track your orders in your account and more.</p>
                <div class="buttons-set">
                  <a href="{% url 'register' %}"><button class="button create-account"><span>Create an Account</span></button></a>
                </div>
              </div>
            </div>
            <div class="col-2 registered-users"><strong>Registered Customers</strong>
              <div class="content">
                <p>If you have an account with us, please log in.</p>
                {% include 'messages.html' %}

                <form action="{% url 'login' %}" method="POST" id="login-form" class="theme-form">
                  {% csrf_token %}

                  {% if form.errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                              {% for key, value in form.errors.items %}
                                  <strong>{{ value }}</strong>
                              {% endfor %}
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %}

                  <div class="form-group">
                      <label for="id_username">{{ form.username.label }}</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group">
                      <label for="id_password">{{ form.password.label }}</label>
                      {{ form.password }}
                  </div>

                  <div class='d-flex justify-content-between'>
                    <button class="btn btn-solid" type="submit">Login</button>
                    <a href="{% url 'reset_password' %}"><p>Forgot Password ?</p></a>
                  </div>

                  <div style='display: flex; align-items: center; margin-top: 15px;'>
                    <button class="btn mb-2" style='border: 1px #e5e5e5 solid; background-color: white; display: flex; align-items: center; margin-right: 15px;'>
                      <img src="{% static 'images/superbphoto/google.png' %}" style='margin-right: 5px;'>
                      <a href="{% url 'social:begin' 'google-oauth2' %}" style="color: black;">
                        Login with Google
                      </a>
                    </button>
                    <button class="btn mb-2" style='border: 1px #e5e5e5 solid; background-color: white; display: flex; align-items: center;'>
                      <img src="{% static 'images/superbphoto/facebook.png' %}" style='margin-right: 5px;'>
                      <a href="{% url 'social:begin' 'facebook' %}" style="color: black;">
                        Login with Facebook 
                      </a>
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </section>
    <!-- Main Container End -->

    <!-- Brand logo starts  -->
    <div class="brand-logo wow bounceInUp animated">
      <div class="container">
        <div class="slider-items-products">
          <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Brand logo ends  -->
{% endblock %}