{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Register</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Container -->
    <section class="main-container col1-layout bounceInUp animated">
      <div class="main container">
        <div class="account-login">
          <div class="page-title">
            <h1>Login or Create an Account</h1>
          </div>
          <fieldset class="col2-set">
            <legend>Login or Create an Account</legend>
            <div class="col-1 new-users"><strong>Registered Customers</strong>
              <div class="content">
                <p>By creating an account with our store, you will be able to move through the checkout process faster,
                  store multiple shipping addresses, view and track your orders in your account and more.</p>
                <div class="buttons-set">
                  <a href="{% url 'login' %}"><button class="button create-account"><span>Login</span></button></a>
                </div>
              </div>
            </div>
            <div class="col-2 registered-users"><strong>New Customers</strong>
              <div class="content">
                <p>If you have an account with us, please log in.</p>

                <form action="{% url 'register' %}" method="POST" class="theme-form">

                  {% csrf_token %}

                  {% if form.errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                              {% for key, value in form.errors.items %}
                                  <strong>{{ value }}</strong>
                              {% endfor %}
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %}

                  <div class="form-group">
                    <label for='id_first_name'>{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                  </div>

                  <div class="form-group">
                    <label for='id_last_name'>{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                  </div>

                  <div class="form-group">
                    <label for='id_username'>{{ form.username.label }}</label>
                    {{ form.username }}
                  </div>

                  <div class="form-group">
                    <label for='id_email'>{{ form.email.label }}</label>
                    {{ form.email }}
                  </div>

                  <div class="form-group">
                    <label for='id_password1'>{{ form.password1.label }}</label>
                    {{ form.password1 }}
                  </div>

                  <div class="form-group">
                    <label for='id_password2'>{{ form.password2.label }}</label>
                    {{ form.password2 }}
                  </div>

                  <div class="buttons-set">
                    <button id="send2" name="" type="submit" class="button login"><span>Register</span></button>
                  </div>

                </form>
              </div>
          </fieldset>
        </div>
      </div>
    </section>
    <!-- Main Container End -->

    <!-- Brand logo starts  -->
    <div class="brand-logo wow bounceInUp animated">
      <div class="container">
        <div class="slider-items-products">
          <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
              <!-- End Item -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Brand logo ends  -->
{% endblock %}